.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.section {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #3a6b72;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
  height: 100px;
  resize: vertical;
}

label {
  display: block;
  padding: 5px;
  font-weight: bold;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 10px;
  font-size: 3rem;
  color: #3a6b72;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3a6b72;
  text-align: center;
  margin-top: 20px;
}

.btn {
  border-radius: 5px;
  background-color: #3a6b72;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #274b4f;
}

.remove {
  background-color: #cf4242;
}

.blog {
  width: 100%;
  background-color: white;
  color: #3a6b72;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.blog h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.blog p {
  font-size: 1rem;
  line-height: 1.5;
}

.blog button {
  background-color: #cf4242;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.blog button:hover {
  background-color: #b62d2d;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
